---
import { cn } from '../../lib/utils'
export interface Props {
  class?: string
}
const { class: className } = Astro.props
---

<section class={cn('py-10 md:py-14 lg:py-20', className)}>
  <slot />
</section>
