---
import type { HTMLAttributes } from 'astro/types'
import { type VariantProps } from 'class-variance-authority'
import { cn } from '../lib/utils'
import { button } from './shared/atoms'

export interface Props extends HTMLAttributes<'button'>, VariantProps<typeof button> {}

/**
 * For Astro components, we recommend setting your defaultVariants within
 * Astro.props (which are `undefined` by default)
 */
const { intent = 'primary', size = 'md', class: className } = Astro.props
---

<button class={cn(button({ intent, size }), className)}>
  {
    intent === 'icon' ? (
      <slot />
    ) : (
      <>
        <div class="whitespace-nowrap">
          <slot />
        </div>
        <span class="ml-3">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="none">
            <path
              d="M3.125 10H16.875"
              stroke="currentColor"
              stroke-width="1.5"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
            <path
              d="M11.25 4.375L16.875 10L11.25 15.625"
              stroke="currentColor"
              stroke-width="1.5"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
          </svg>
        </span>
      </>
    )
  }
</button>
