---
import Container from './shared/Container.astro'
import Button from './Button.astro'
---

<header class="py-5 md:py-6">
  <Container>
    <div class="w-full flex justify-between items-center">
      <div class="flex items-center gap-x-1.5">
        <svg
          class="h-7"
          viewBox="0 0 102 48"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M48.5085 7.22904L48.8842 6.5H48.064H29.248C24.6212 6.5 21.1666 8.01745 18.8723 10.5072C16.5846 12.9898 15.5 16.385 15.5 20.056V27.592C15.5 31.2631 16.5847 34.6469 18.8732 37.1178C21.168 39.5954 24.6225 41.1 29.248 41.1H48.064H48.8865L48.5079 40.3698L44.4759 32.5938L44.336 32.324H44.032H32.608C30.7144 32.324 28.7322 32.1746 27.2294 31.3372C26.4904 30.9255 25.8686 30.3475 25.4274 29.529C24.9841 28.7067 24.708 27.6136 24.708 26.152V21.496C24.708 20.0344 24.9841 18.9413 25.4274 18.119C25.8686 17.3005 26.4904 16.7225 27.2294 16.3108C28.7322 15.4734 30.7144 15.324 32.608 15.324H44.032H44.3368L44.4765 15.053L48.5085 7.22904ZM63.6862 41.148V41.1H76.8182C80.2179 41.1 82.7945 40.0047 84.5193 38.1838C86.239 36.3682 87.0622 33.8836 87.0622 31.192V30.088C87.0622 27.2244 86.1314 24.5718 84.1741 22.7709C85.3539 21.1397 85.9102 19.1077 85.9102 16.936V15.88C85.9102 13.3351 85.1485 10.9947 83.5493 9.2863C81.9444 7.57189 79.5468 6.548 76.3862 6.548H63.6182C60.4577 6.548 58.0601 7.57189 56.4552 9.2863C54.856 10.9947 54.0942 13.3351 54.0942 15.88V16.936C54.0942 19.1078 54.6507 21.1399 55.8306 22.7712C53.8748 24.5753 52.9902 27.2307 52.9902 30.088V31.192C52.9902 33.8814 53.8002 36.3772 55.5068 38.2052C57.2192 40.0395 59.7847 41.148 63.1862 41.148H63.6862ZM66.9302 15.276H73.0742C73.132 15.276 73.1896 15.2759 73.2471 15.2759C74.1357 15.2749 74.9817 15.274 75.6305 15.505C75.958 15.6216 76.2011 15.7875 76.3667 16.0188C76.532 16.2498 76.6543 16.5937 76.6543 17.128C76.6543 17.6623 76.532 18.0062 76.3667 18.2372C76.2011 18.4685 75.958 18.6344 75.6305 18.751C74.9817 18.982 74.1357 18.9811 73.2471 18.9801C73.1896 18.9801 73.132 18.98 73.0742 18.98H66.9302C66.8709 18.98 66.8117 18.9801 66.7528 18.9801C65.8429 18.9811 64.9858 18.982 64.3308 18.7506C64.0002 18.6337 63.7561 18.4677 63.5901 18.2366C63.4245 18.0059 63.3022 17.6623 63.3022 17.128C63.3022 16.5937 63.4245 16.2501 63.5901 16.0194C63.7561 15.7883 64.0002 15.6223 64.3308 15.5054C64.9858 15.274 65.8429 15.2749 66.7528 15.2759C66.8117 15.2759 66.8709 15.276 66.9302 15.276ZM66.4982 27.756H73.5063C73.5631 27.756 73.6199 27.756 73.6767 27.7559C74.7346 27.7551 75.7604 27.7543 76.5464 28.0383C76.9426 28.1814 77.2448 28.3873 77.4524 28.6795C77.6598 28.9716 77.8063 29.3972 77.8063 30.04C77.8063 30.6964 77.659 31.1322 77.4501 31.4315C77.2415 31.7302 76.9387 31.9394 76.5437 32.0847C75.7581 32.3736 74.7321 32.3729 73.6724 32.3721C73.6171 32.372 73.5617 32.372 73.5063 32.372H66.4982C66.4428 32.372 66.3874 32.372 66.3321 32.3721C65.2724 32.3729 64.2464 32.3736 63.4608 32.0847C63.0658 31.9394 62.7631 31.7302 62.5544 31.4315C62.3455 31.1322 62.1982 30.6964 62.1982 30.04C62.1982 29.3972 62.3447 28.9716 62.5521 28.6795C62.7597 28.3873 63.0619 28.1814 63.4581 28.0383C64.2441 27.7543 65.2699 27.7551 66.3278 27.7559C66.3846 27.756 66.4414 27.756 66.4982 27.756Z"
            fill="#141716"
            stroke="#141716"></path>
        </svg>
        <svg
          class="h-8"
          viewBox="0 0 465 58"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            class="fill-none stroke-black"
            d="M2.592 36.4V30.832C2.592 25.552 5.712 21.232 12.336 21.232H29.424L25.536 29.008H15.312C13.296 29.008 10.8 29.296 10.8 32.416V34.816C10.8 37.936 13.296 38.272 15.312 38.272H25.536L29.424 46H12.336C5.712 46 2.592 41.68 2.592 36.4ZM56.8106 21.232L52.9226 29.008H46.5386C44.5226 29.008 42.0266 29.296 42.0266 32.416V46H33.8186V30.832C33.8186 25.552 36.9386 21.232 43.5626 21.232H56.8106ZM59.0295 36.4V30.832C59.0295 25.552 62.1495 21.232 68.7735 21.232H78.7575C85.3815 21.232 88.5495 25.552 88.5495 30.832C88.5495 31.504 88.5975 32.032 88.5975 32.368C88.5975 34.912 87.6375 36.928 84.5655 36.928H67.3335C67.8135 39.136 69.9735 39.376 71.7495 39.376H84.4695L87.7815 46H68.7735C62.1495 46 59.0295 41.68 59.0295 36.4ZM67.3335 30.304H80.2455C79.7655 28.144 77.6055 27.856 75.8295 27.856H71.7495C69.9255 27.856 67.8135 28.096 67.3335 30.304ZM102 12.016C102.144 12.544 102.192 13.168 102.192 13.984C102.192 14.752 102.144 15.376 102 15.952C101.664 17.248 100.752 18.064 99.744 18.4C99.072 18.64 98.352 18.688 97.392 18.688C96.432 18.688 95.664 18.64 95.04 18.4C94.032 18.064 93.12 17.248 92.784 15.952C92.688 15.376 92.64 14.752 92.64 13.984C92.64 13.168 92.64 12.544 92.784 12.016C93.12 10.72 94.032 9.856 95.04 9.52C95.664 9.328 96.432 9.232 97.392 9.232C98.352 9.232 99.072 9.328 99.744 9.52C100.752 9.856 101.664 10.72 102 12.016ZM101.52 46H93.264V21.232H101.52V46ZM129.601 46H116.257C109.633 46 106.465 41.68 106.513 36.4V30.832C106.513 25.552 109.633 21.232 116.257 21.232H128.017C134.689 21.232 137.809 25.552 137.809 30.832V48.4C137.809 53.68 134.689 58 128.017 58H110.929L114.817 50.224H125.041C127.105 50.224 129.601 49.936 129.601 46.816V46ZM119.233 38.272H129.601V32.416C129.601 29.296 127.105 29.008 125.041 29.008H119.233C117.217 29.008 114.721 29.296 114.721 32.416V34.816C114.721 37.936 117.217 38.272 119.233 38.272ZM152.286 9.232V21.232H161.598C168.222 21.232 171.39 25.552 171.39 30.832V46H163.134V32.416C163.134 29.296 160.686 29.008 158.622 29.008H152.286V46H144.078V11.776L152.286 9.232ZM193.349 46H187.877C181.253 46 178.085 41.728 178.085 36.4V29.008H175.781V21.232H178.085V11.776L186.341 9.232V21.232H193.349V29.008H186.341V34.816C186.341 37.936 188.837 38.272 190.853 38.272H193.349V46ZM208.078 12.016C208.222 12.544 208.27 13.168 208.27 13.984C208.27 14.752 208.222 15.376 208.078 15.952C207.742 17.248 206.83 18.064 205.822 18.4C205.15 18.64 204.43 18.688 203.47 18.688C202.51 18.688 201.742 18.64 201.118 18.4C200.11 18.064 199.198 17.248 198.862 15.952C198.766 15.376 198.718 14.752 198.718 13.984C198.718 13.168 198.718 12.544 198.862 12.016C199.198 10.72 200.11 9.856 201.118 9.52C201.742 9.328 202.51 9.232 203.47 9.232C204.43 9.232 205.15 9.328 205.822 9.52C206.83 9.856 207.742 10.72 208.078 12.016ZM207.598 46H199.342V21.232H207.598V46ZM227.018 46C225.53 46 223.946 45.184 222.986 43.264L211.754 21.232H220.298L227.018 35.104L233.69 21.232H242.282L231.002 43.264C230.042 45.184 228.458 46 227.018 46ZM244.889 36.4V30.832C244.889 25.552 248.009 21.232 254.633 21.232H264.617C271.241 21.232 274.409 25.552 274.409 30.832C274.409 31.504 274.457 32.032 274.457 32.368C274.457 34.912 273.497 36.928 270.425 36.928H253.193C253.673 39.136 255.833 39.376 257.609 39.376H270.329L273.641 46H254.633C248.009 46 244.889 41.68 244.889 36.4ZM253.193 30.304H266.105C265.625 28.144 263.465 27.856 261.689 27.856H257.609C255.785 27.856 253.673 28.096 253.193 30.304Z"
          ></path>
        </svg>
      </div>
      <div class="flex items-center gap-x-4">
        <Button class="" intent="secondary">
          <div class="text-lg font-semibold whitespace-nowrap">
            Let&apos;s Talk
          </div><span>
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="20"
              height="20"
              viewBox="0 0 20 20"
              fill="none"
            >
              <path
                d="M3.125 10H16.875"
                stroke="#030712"
                stroke-width="1.5"
                stroke-linecap="round"
                stroke-linejoin="round"></path>
              <path
                d="M11.25 4.375L16.875 10L11.25 15.625"
                stroke="#030712"
                stroke-width="1.5"
                stroke-linecap="round"
                stroke-linejoin="round"></path>
            </svg>
          </span>
        </Button>
        <Button intent="icon">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="20"
            height="20"
            viewBox="0 0 20 20"
            fill="none"
          >
            <path
              d="M3.125 10H16.875"
              stroke="#030712"
              stroke-width="1.5"
              stroke-linecap="round"
              stroke-linejoin="round"></path>
            <path
              d="M3.125 5H16.875"
              stroke="#030712"
              stroke-width="1.5"
              stroke-linecap="round"
              stroke-linejoin="round"></path>
            <path
              d="M3.125 15H16.875"
              stroke="#030712"
              stroke-width="1.5"
              stroke-linecap="round"
              stroke-linejoin="round"></path>
          </svg>
        </Button>
      </div>
    </div>
  </Container>
</header>
